reliability==0.9.0
predictr==0.1.27
Flask==3.0.3
gunicorn==22.0.0
oracledb==2.1.2
requests==2.32.3
suds==1.1.2
matplotlib==3.10.8
pandas==3.0.0
numpy==2.4.0
numdifftools==0.9.42
autograd==1.8.0
apscheduler==3.11.2
scikit-learn==1.8.0
scipy==1.17.1