<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>WAT - Weibull Analysis Tool</title>
    <link rel="stylesheet" href="/static/css/mvp.css">
  </head>

  <body>
    <div style="margin-left:1em;">
      <h1><img src="/static/images/favicon.ico" />Weibull Analysis Tool</h1>
      <ul>
          <li><a href="/weibull?part=HCCTRP&plot_type=CDF">Weibull example CDF</a></li>
          <li><a href="/weibull?part=HCCTRP&plot_type=SF">Weibull example SF</a></li>
          <li><a href="/forecast?part=HCCTRP&plot_type=CDF">Forecast example</a></li>
      </ul>
      <a href="mailto:hit.data@cern.ch">Support</a>
      <div style="color:lightgray; font-size:0.8em;">
        commit {{ commit_hash }} build date {{ build_date }}
      </div>
    </div>
  </body>
</html>
