<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HIT Data</title>
    <link rel="stylesheet" href="/static/css/mvp.css">
  </head>

  <body>
    <div style="margin-left:1em;">
      <h1><img src="/static/images/favicon.ico" />HIT Data</h1>
      <ul>
        <li><a href="https://mondi.app.cern.ch/whiterabbit">White Rabbit diagnostics</a></li>
        <li><a href="/crate/new">Draw.io editor</a> (with HIT shape libraries) | <a href="/crate/edit?name=CVRED.18.774">crate example</a></li>
        <li><a href="https://cernbox.cern.ch/files/spaces/eos/project/h/hit/draw.io/Installation">Draw.io shape libraries</a> (public <a href="https://cernbox.cern.ch/s/qigETN2TTgwuOZn">link</a>)</li>
        <li><a href="/weibull?part=HCCTRP">Weibull example</a></li>
      </ul>
      <a href="https://gitlab.cern.ch/hit/hit-data">Source code</a> | <a href="mailto:hit.data@cern.ch">Support</a>
      <div style="color:lightgray; font-size:0.8em;">
        commit {{ commit_hash }} build date {{ build_date }}
      </div>
    </div>
  </body>
</html>
