<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HIT Data</title>
    <link rel="stylesheet" href="static/css/mvp.css">
  </head>

  <body>
    <div style="margin-left:1em;">
    <h1><img src="static/images/favicon.ico" />HIT Data</h1>
    <ul>
      <li><a href="/weibull?part=HCCTDAP">Weibull example</a></li>
      <li><a href="/crate/edit?name=cfv-193-ascool">Crate Layout/draw.io example</a></li>
      <li><a href="https://cernbox.cern.ch/files/spaces/eos/project/h/hit/draw.io/Installation">Draw.io shape libraries</a> (public <a href="https://cernbox.cern.ch/s/qigETN2TTgwuOZn">link</a>)</li>
    </ul>
    <a href="https://gitlab.cern.ch/hit/hit-data">Source code</a> | <a href="mailto:hit.data@cern.ch">Support</a>
    </div>
  </body>
</html>
