<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WR Network</title>
    <style type="text/css">
      body {
        margin: 0;
        height: 100vh;
      }
      #main {
        display: flex;
        height: 100vh;
      }
      #network {
        flex: 5;
        border: 1px solid lightgray;
      }
      #panel {
        flex: 1;
        border: 1px solid lightgray;
      }
    </style>

    <script type="text/javascript" src="/static/scripts/vis-network.min.js" defer></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const script = document.createElement('script');
        script.src = '/static/scripts/wr-network.js?src={{connectivity_source}}';
        script.async = true;
        document.body.appendChild(script);
      });
    </script>
  </head>

  <body>
    <div id="main">
      <div id="network"></div>
      <div id="panel"></div>
    </div>
  </body>
</html>
