<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>WR Switch</title>
    <link rel="stylesheet" href="/static/css/mvp.css">
  </head>
  <body>
    <h1>{{switch_name}}</h2>

    <ul>
      <li><a href="https://cosmos.cern.ch/grafana/d/ZeMNszxZz/fec-details?var-host={{switch_name}}" target="_blank">Grafana FEC Details</a></li>
      <li><a href="https://cosmos.cern.ch/grafana/d/000000069/white-rabbit-switch-status?var-host={{switch_name}}" target="_blank">Grafana WR Switch Status</a></li>
      <li><a href="https://tracing-pro.cern.ch/dashboards/app/data-explorer/discover#?_a=(metadata:(indexPattern:'23f70904-7222-4fab-b6c7-cf445e4c206e',view:discover))&_g=(time:(from:now-6d,to:now))&_q=(filters:!((query:(match_phrase:(host:'{{switch_name}}*')))))" target="_blank">Kibana Logs</a></li>
      <li><a href="https://ccde.cern.ch/api/whiteRabbit/config/switches/name/{{switch_name}}" target="_blank">CCDE WRB Configuration</a></li>
      <li><a href="about:blank" target="_blank">CCDE Computer (TODO)</a></li>
      <li><a href="about:blank" target="_blank">LayoutDB (TODO)</a></li>
      <li><a href="about:blank" target="_blank">GIS (TODO)</a></li>
      <li><a href="https://landb.cern.ch/portal/devices/{{switch_name}}" target="_blank">LanDB</a></li>
    </ul>
  </body>
</html>
